<%= content_for(:header) do %>
  <%= hashtag_meta(@tag.name) %>
  <%= javascript_include_tag "instagram-scroll" %>
<% end %>

<h1><%= @tag.name %></h1>
<% if current_user %>
  <p><%= love_or_unlove_button(@tag) %></p>
<% else %>
  <p><%= link_to "Sign in to love", signin_path %></p>
<% end %>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#instapane" id="instagrams" data-toggle="tab">Instagrams</a>
  </li>
  <li>
    <a href="#twitterpane" id='tweets' data-toggle="tab">Tweets</a>

  </li>
  <li>
    <a href="#tumblrpane" id='tumbls' data-toggle="tab">Tumbls</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="instapane">
    <div id="instas">
      <h2>Instagram</h2>
    </div>
  </div>
  <div class="tab-pane fade in" id="twitterpane">
    <h2>Twitter</h2>
    <ul>
      <% @twitter.each do |twitter| %>
        <%= render partial: 'tweet', locals: {tweet: twitter} %>
      <% end %>
    </ul>
  </div>
  <div class="tab-pane fade in" id="tumblrpane">
    <h2>Tumblr</h2>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    return LoadResults();
  });
</script>
